@use '@angular/material' as mat;

:host {
  @include mat.button-toggle-overrides((
          shape: 0.25rem,
          hover-state-layer-opacity: .4,
  ));

  @include mat.toolbar-overrides((
  title-text-size: 2.5rem,
  ));

  mat-toolbar {
    gap: 1rem;

    a {
      color: var(--mat-sys-primary);
      text-decoration: none;
    }
  }

  main {
    padding: 1rem;
  }
}