@if (dogs()) {
    <h2>Dog Breeds</h2>
    <mat-button-toggle-group class="view-toggle" [(value)]="viewMode">
        <mat-button-toggle value="grid">
            Grid View
        </mat-button-toggle>
        <mat-button-toggle value="list">
            List View
        </mat-button-toggle>
    </mat-button-toggle-group>
    @if (viewMode === 'grid') {
        <section class="pet-grid">
            @for (breed of dogs()?.message | keyvalue; track breed.key) {
                <mat-card class="pet-card">
                    <mat-card-header>
                        <mat-card-title>{{ breed.key }}</mat-card-title>
                    </mat-card-header>
                </mat-card>
            }
        </section>

    }
    @if (viewMode === 'list') {
    <mat-list>
        @for (breed of dogs()?.message | keyvalue; track breed.key) {
            <mat-list-item class="pet-list-item">
                <div matListItemTitle>{{ breed.key }}</div>
            </mat-list-item>
        }
    </mat-list>
    }
} @else {
    <p>Loading...</p>
}
