@use '@angular/material' as mat;
@use "sys-vars";

body {
  @include sys-vars.typography;
  background: var(--mat-sys-surface);
  font: var(--mat-sys-body-large);
  color: var(--mat-sys-on-surface);
}

.dark-theme {
  @include sys-vars.dark-theme;
}

@media (prefers-color-scheme: dark) {
  body {
    @include sys-vars.dark-theme;
  }
}

.light-theme {
  @include sys-vars.light-theme;
}

@media (prefers-color-scheme: light) {
  body {
    @include sys-vars.light-theme;
  }
}