@use "@angular/material" as mat;
@use "sys-vars";

.container {
  padding: 20px;
}

.view-toggle {
  margin-bottom: 20px;
}

.pet-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 2rem;
}

.list-image {
  object-fit: cover;
  margin-right: 16px;
}

html, body {
  height: 100%;
}

.mat-mdc-form-field-subscript-wrapper:not(:has(mat-hint)):not(:has(mat-error)) {
  display: none; //hide wrapper when no hint or error is present else it takes up extra space
}

body {
  margin: 0;
  @include sys-vars.typography;
  @include sys-vars.elevation;
  @include sys-vars.global-vars;

  @include mat.button-overrides((
    text-container-shape: 0.50rem,
    filled-container-shape: 0.50rem,
    outlined-container-shape: 0.50rem,
  ));
}
